* {
    font-family: cursive;
    padding: 0;
    margin: 0;
}

h1, h2, p {
    padding: 5px;
    margin: 5px;
}

ul, ol {
    padding: 10px;
    margin-left: 1%;
}

nav { 
    text-align: right;
    padding-right: 20px;
}

body {
    background: radial-gradient(circle, rgb(211, 129, 120), rgb(168, 84, 87));
}

aside {
    position:absolute;
    top: 80px;
    right: 20px; 
    width: 200px; 
    background-color: #f0f0f0; 
    padding: 10px; 
    border: 1px solid #ccc; 
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(176, 73%, 34%);
    padding: 0%;
    margin: 10px;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 30px;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navbar li{
    float: left;
}

.active {
    background-color: #3ba3a5;
}

.gif {
    border-radius: 20px;
    object-fit: cover;
    margin: 5px;
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    float: right;
    padding-left: 10px;
}

.square-pic {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.pic, img {
    border-radius: 10px;
    object-fit: cover;
}

table, tr, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 5px;    
    
}

/* FAQ */
.accordion {
    margin: 60px auto;
    width: 600px;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15)
                -6px -6px 10px -1px rgba(255, 255, 2555, 0.7);
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input {
    display: none;
}

.accordion .content {
    color: #03005c;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input:checked + label + .content {
    max-height: 400px;
    padding: 10px, 10px, 20px;
}

.accordion input:checked + label::before{
    content: '-';
}


/* Blog */
.container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-block {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    width: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.blog-block a {
    text-decoration:none;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
}

.blog-block a:hover {
            color: #007BFF;
}

.blog-list {
    line-height: 1.6;
    color: #666;
}

footer {
    text-align: center;
  padding: 3px;
  background-color: rgb(0, 0, 0);
  color: white;
}